---
---
@import "minima";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

img {
  border-radius: 8px;
  height: auto;
  width: 300px;
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
}

.bio {
  padding-left: 50px;
  // font-size: 20px;
  // font-family: "Utopia-italic";
  // text-align: center;
  font-family: adobe-garamond-pro, serif;
  font-size: 20px;
  font-style: italic;
  font-weight: normal;
  letter-spacing: normal;
  color: dimgray;
}
