---
---
// Mandatory
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
// // Optional
@import "bootstrap/bootstrap-grid";

@import "minima";

// .container {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   padding-bottom: 50px;
// }

.display-pic {
  border-radius: 8px;
  height: auto;
  width: 300px;
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
}

.bio {
  // font-family: "Utopia-italic";
  font-family: adobe-garamond-pro, serif;
  font-size: 20px;
  font-style: italic;
  font-weight: normal;
  letter-spacing: normal;
  color: dimgray;
  text-align: center;
}

ul.icon-list {
  margin: 0;
  font-size: 1.1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

ul.icon-list li {
  display: flex;
  align-items: center;
  margin: 0 .5em;
}

.icon {
  height: 3em;
  margin-right: .2em;
}
