---
layout: default
---

<div class="home">

    <div class="row">
        <h1 class="page-heading">Featured Projects</h1>
        <div class="row">
            <div class="col">
                <a href="https://github.com/koonwen/iouring_tracer">
                    <img src="https://github-readme-stats.vercel.app/api/pin/?username=koonwen&repo=iouring_tracer&description_lines_count=3" />
                </a>
            </div>
            <div class="col">
                <a href="https://github.com/koonwen/obatcher">
                    <img src="https://github-readme-stats.vercel.app/api/pin/?username=koonwen&repo=obatcher&description_lines_count=3" />
                </a>
            </div>
        </div>
        <div class="row my-3">
            <div class="col">
                <a href="https://github.com/koonwen/YNC-Gym-Counter">
                    <img src="https://github-readme-stats.vercel.app/api/pin/?username=koonwen&repo=YNC-Gym-Counter&description_lines_count=3" />
                </a>
            </div>
            <div class="col">
                 <a href="https://github.com/koonwen/ocaml-riot-unix">
                    <img src="https://github-readme-stats.vercel.app/api/pin/?username=koonwen&repo=ocaml-riot-unix&description_lines_count=3" />
                </a>
            </div>
        </div>
    </div>

    <div class="container text-center">
        <h1 class="page-heading">Contributions & Stats</h1>
        <div class="row mb-5">
            <div class="col">
                <img src="https://ghchart.rshah.org/koonwen" alt="My Github Contribution Chart" />
            </div>
        </div>
        <div class="row gy-7">
            <div class="col">
                <a href="https://github.com/koonwen">
                    <img src="{{page.my-stats}}" />
                </a>
            </div>
            <div class="col">
                <img src="{{page.my-top-langs}}" />
            </div>
        </div>
    </div>

    {{content}}

</div>
